@import url('https://fonts.googleapis.com/css?family=Roboto');


.maincontain {
  background-color: #EEEEEE;
  height: 100%;
  min-height:125vh;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.yourcart {
  background-color: #FFFFFF;
  height: 15vh;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 1.5px;
  text-indent: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.productbox {
  background-color: #FFFFFF;
  height: 20vh;
  width: 75%;
  margin-top: 4%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  display: flex;
  justify-content: space-between;

}

.productImg {
  width: 150px;
  background: center no-repeat;
  margin-bottom: 25px;
  margin-left: 15px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}

.productTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.productPrice,
.inputQty,
.trash {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.inputQty {
text-align: center;
}

.productPrice {
  font-size: 15px;
}


.trash:hover {
 cursor: pointer;
}


.line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  width: 75%;
  margin-top: 6%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.subtotal {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tax {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-left: 10%;
  margin-top: 13px;
}

.goHome {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-left: 75%;
}


.checkout {
  text-align: center;
  height: 9vh !important;
  width: 80%;
  background-color: #2979FF !important;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
