@import url('https://fonts.googleapis.com/css?family=Roboto');


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  width: 100%;
}

.backColor {
  background-color: #FAFAFA;
}

.maincontainer {
  background-color: #EEEEEE;
  height: 135vh;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.checkoutText {
  background-color: #FFFFFF;
  height: 15vh;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 1.5px;
  text-indent: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.items {
  background-color: #FFFFFF;
  height: 20vh;
  width: 75%;
  margin-top: 3%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  display: flex;
  justify-content: space-between;
}

.checkPrice,
.checkQuantity,
.checkTrash {
  font-family: 'Roboto', sans-serif;
}

.checkImg {
  width: 150px;
  background: center no-repeat;
  margin-bottom: 25px;
  margin-left: 15px;
}

.checkNameQty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-right: 45px;
}

.checkQuantity {
  font-family: 'Robot', sans-serif;
  font-size: 15px;
  color: grey;
  margin-right: 45px;
}


.productContain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}

.checkPrice {
  font-size: 15px;
  margin-bottom: 10px;
}



.checkTrash:hover {
  cursor: pointer;
}

.shippingInfo {
  background-color: #FFFFFF;
  height: 42vh;
  width: 75%;
  margin-top: 3%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.shipHeader {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-left: 15px;
  height: 5vh;
  display: flex;
  align-items: center;
}

.nameInput,
.shippingAddress,
.cityState,
.country {
  width: 40% !important;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30% !important;
}


.paymentInfo {
  background-color: #FFFFFF;
  height: 45vh;
  width: 75%;
  margin-top: 3%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-bottom: 3%;
}

.paymentHeader {
  font-family: 'Roboto', sans-serif;
  font-size: 20px !important;
  margin-left: 15px;
  height: 5vh;
  display: flex;
  align-items: center;
  /*margin-bottom: 5% !important;*/
}

.cardNumber,
.expDate,
.ccv {
  width: 30% !important;
  display: flex;
  flex-direction: column;
  margin-left: 30% !important;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;;
  align-items: center;
  margin-right: 30px;
  margin-top: 20px;
}

.confirmPurchase {
  background-color: #2979FF !important;
  margin-left: 31%;
  height: 45px;
  word-wrap: break-word;
}
