.product {
  background-color: #EEEEEE;
  background-repeat: no-repeat;
  margin-left: 15%;
  margin-right: 15%;
  height:100vh;
  width: 70%;
}

@media only screen and (max-width: 500px){
  .product {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
